.blog{
  margin: 0 auto;
  width: 90%;
}

.blog__right-list{
     
        @media (min-width: 993px) {
          margin-left: 2%;
        }
}

.mhBlogGrid {
  @media (min-width: 1024) {
    max-width: 32%;
  }

  @media (max-width: 1023) {
    max-width: 100%;
  }
}