html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: black;
}

a:active,
a:hover {
  outline-width: 0
}

img {
  border-style: none
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}


/* Change autocomplete styles in WebKit */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid white;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.g__dialog-title {
  margin: 0px;
  padding: 24px 24px 20px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.g__circle-black {
  color: rgba(0, 0, 0, 0.87);
  background: rgba(0, 0, 0, 0.26);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 8px;
  height: 36px;
  cursor: pointer;
  width: 36px;
  &:hover {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgba(0, 0, 0, 0.42);
    top: 0px;
  }
}

.g__circle {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(238, 238, 238);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 8px;
  height: 36px;
  cursor: pointer;
  width: 36px;
  &:hover {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.04);
    top: 0px;
  }
}

.g__title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 500;
  margin: 32px 0 0;
  white-space: nowrap;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.g__title-center {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 22px auto;
  max-width: 300px;
  @extend .g__title
}

.g__greenColor {
  color: #fcb040;
}

.g__greenBox {
  background-color: #fcb040!important;
  text-align:center;
}

.glob__shadow {
  box-shadow: $glob-box-shadow;
}

.global__color-teal {
  color: $teal;
}

.global__color-gold {
  color: $gold;
}

.global__color-lightGrey {
  color: $light-grey3;
}

input[type="file"] {
  display: none;
}

.global__hidden {
  display: none;
}

.global__scroll-CH::-webkit-scrollbar {
  width: 5px;
}

.global__scroll-CH::-webkit-scrollbar-track {
  background: #ddd;
}

.global__scroll-CH::-webkit-scrollbar-thumb {
  background: #666;
}

.global__scroll-IE {
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
