.home__main{
  background-color: #eeeeee;
  transition: margin-left .4s;

  @media screen and (max-width: 750px){
      margin-left: 0!important;
      margin-right: 0!important;
    
  }

}

.profile__head-info {
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  height: 108px;
  margin-top: 0px;
  padding: 24px;
  flex-direction: row;
  align-items: center;
  display: flex;
  div.left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div.info {
          display: flex;
          text-align: left;
          margin-left: 24px;
          flex-direction: column;
          div.fullName {
              font-size: 30px;
              font-weight: 500;
              color: #fff;
          }
          div.followers {
              color: #fff;
              margin-top: 8px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              font-size: 14px;
          }
      }
  }
  div.right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}

.line::after{
    display: block;
    content: '';
   width: 30%;
   height: 1px;
   background: orange;
   position: absolute;
   bottom: 0;
   left: 0;
}

.line2::after{
    display: block;
    content: '';
   width: 80%;
   height: 1px;
   background: orange;
   position: absolute;
   bottom: 0;
   left: 0;
}