ul {
    display: inline-block;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 4px;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li.active {
    color: white;
    background-color: #045e7a;
}

li.active a {
    color: white;
}