.sidebar {
  padding-top: 64px;
  background-color:#045e7a;
  height: 100%;
  width: 285px;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}

.sidebar__large {
  background-color:#045e7a !important;
  z-index: 1000;
  width: 285px;

}

.sidebar__over {
  z-index: 1102;
  padding-top: 0;
  background-color: #045e7a;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1111;
}

.sidebar__title {
  font-size: 20px;
  font-weight: 500;
  padding-right: 16px;
  font-family: Roboto, sans-serif;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;
}
